* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}


button {
  font-weight: 700 !important;
  padding: 0.7rem 0 !important;
  transition: 0.4s ease-in-out;
}

button :hover {
  background-color: red;
}

.navbar {
  height: 60px;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: grey;
}
